/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2016, 8:24:54 PM
    Author     : Anto
*/
.root {
    -fx-background-color: #935c25;
}

.label {
    -fx-font-size: 20px;
    -fx-font-weigth: bold;
    -fx-text-fill: #255c93;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#caja {
    -fx-background-color: #f9efe6;
    -fx-border-radius: 25px;
}

#cajaAdd {
    -fx-background-color: #F0EAD6;
    -fx-border: 2px;
    -fx-border-radius: 25px;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#titulo {
   -fx-font-size: 50px;
   -fx-text-fill: orange;
   -fx-font-weight: bold;
   -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); 
}